/* Footer.css */

.footer {
    text-align: center;
    /* Center-align the content within the footer */
    display: flex;
    /* Use flexbox */
    flex-direction: column;
    /* Arrange children vertically */
    align-items: center;
    /* Center children horizontally */
}

.github-logo {
    width: 50px;
    /* Set the width of the logo */
    height: auto;
    /* Automatically adjust the height to maintain aspect ratio */
}