#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* Header.css */

/* Style for the header container */
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  /* Align items with space between */
  align-items: center;
  /* Align items vertically */
}

/* Style for the developer's name */
.developer-name {
  font-family: sans-serif;
  font-size: 24px;
  margin: 0;
  /* Remove default margin */
}

/* Style for the navigation links */
.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* Remove default margin */
}

.navigation li {
  display: inline;
  margin-left: 20px;
  /* Add margin between navigation links */
}

.navigation li:first-child {
  margin-left: 0;
  /* Remove margin from the first navigation link */
}

.navigation li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navigation li a:hover {
  text-decoration: underline;
}